===========================================================
Package                       Version
------------------------------------------------------------
requests                       2.32.2
pytest                         8.2.0
pytest-dependency              0.6.0
pytest-html                    4.1.1
python                         3.11.9
-----------------------------------------------------------